.album-art {
    background-image: url("../images/jcole-albuma.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size:contain;
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}
body {
  background: rgba(22,27,31,1);
}
.body {
}

.app-container {
  position: relative;
  background: rgba(22,27,31,1);
  z-index: 2;
}

.side-padding {
  padding-left: 10%;
}

.side-padding.spotify {
  padding-left: 8%;
}

.album-information {
  z-index: 2;
  position: relative;
  padding-top: 34vh;
  background: linear-gradient(to bottom, rgba(22,27,31,.1) 0%, rgba(22,27,31,.4) 50%, rgba(22,27,31,1) 80%);
  color: #fff;
  margin-bottom: -2px;
}



.album-information .album-title {
  font-size: 63px;
  font-weight: 500;
  font-family: 'Work Sans', sans-serif;
  margin-bottom: 5px;
}

.album-information .album-dot {
  margin: 0 5px;
}

.album-information .album-subtitle {
  color: #95999C;
  font-size: 35px;
  font-weight: 100;
  font-family: 'Work Sans', sans-serif;
}

.music-service-buttons {
  z-index: 2;
  background: rgba(22,27,31,1);
  position: relative;
  padding-top: 17px;
  padding-bottom: 5%;
  margin-bottom: -1px;
}

.music-service-button:last-child {
  width: 7%;
  padding-right: 0px;
}


.music-service-button {
  font-size: 75px;
  color: rgb(71,78,86);
  width: 16%;
  display: inline-block;
  padding: 0 0% 3% 3%;
  margin-right: 4%;

}

.music-service-button.active {
  color: white;
  border-bottom: 8px solid white;
}

.music-player-container {
  min-height: 100px;
  padding-top: 5px;
}

.related-content {

  font-family: 'Work Sans', sans-serif;

}

.related-content.inverted {
  background-color: white;
  min-height: 500px;
}

.vinyl-art {
  position: relative;
  display: inline-block;
}

.vinyl-art-cover {
  position: absolute;
  z-index:4;
  top: 0;
  left: 0;
  height:280px;
  width:280px;
}

.vinyl-art-disc {
  position: absolute;
  z-index: 3;
  top: 0px;
  left: 140px;
  height:280px;
  width:280px;
}
.vinyl-art-disc img{
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.vinyl-art-disc .vinyl-disc{
  border-radius: 50%;
  background-image: url("../images/vinyl2.png");
  background-position: top center;
  background-repeat: repeat;
  background-size:cover;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.vinyl-art-cover img, .vinyl-art-disc img{
  width: 100%;
  height: 100%;
}


.item-inner {
  min-height: 300px;
  padding: 0% 12%;
  display: flex;
  justify-content: space-between;
}

.album-description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  width: 40%;
}

.album-description .album-title {
  font-size: 55px;
  color: white;
}

.album-description .album-info {
  font-size: 23px;
  color: rgb(144,148,151);
}

.related-content-title {
  padding-top: 5%;
  padding-bottom: 2%;
  color: rgba(184, 185, 184, 1);
  font-style: italic;
  font-size: 32px;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin: 6% 0;
  padding-left: 8%;
  border-bottom: 2px solid rgba(0,0,0,.5);
  -webkit-box-shadow: 0px .5px 1px 0px rgba(255,255,255,.1);
  -moz-box-shadow: 0px .5px 1px 0px rgba(255,255,255,.1);
  box-shadow: 0px .5px 1px 0px rgba(255,255,255,.1);
}

.related-artist-title {
  padding-top: 5%;
  padding-bottom: 2%;
  color: rgba(184, 185, 184, 1);
  font-style: italic;
  font-size: 32px;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-align: center;
  border-bottom: 6px solid rgba(0,0,0,.1);
  -webkit-box-shadow: 0px 2px 1px 0px rgba(255,255,255,.1);
  -moz-box-shadow: 0px 2px 1px 0px rgba(255,255,255,.1);
  box-shadow: 0px 2px 1px 0px rgba(255,255,255,.1);
}

.artist-section {
  position: relative;
  width:100%;
  height: 600px;
  padding-top: 6%;
}

.artist-background {
  background-image: url("../images/background-artist.jpg");
  height:100%;
  min-width: 100%;
  background-position: top center;
  background-repeat: repeat;
  background-size:cover;
  position: absolute;
  top:0;
  z-index: 1;
}

.artist-background-overlay {
  z-index: 2;
  position: relative;
  height:100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(255,255,255,.1) 0, rgba(22,27,31,1) 100%);
}

.artist-photo {
  background-image: url("../images/jcolestage-edit.png");
  width:30%;
  margin-left: 35%;
  height: 450px;
  background-position: top center;
  background-repeat: repeat;
  background-size:cover;
  position: relative;
  z-index: 4;
  -webkit-box-shadow: 0px -19px 79px 9px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -19px 79px 9px rgba(0,0,0,0.75);
  box-shadow: 0px -19px 79px 9px rgba(0,0,0,0.75);
}



.artist-photo-overlay {
  z-index: 5;
  position: relative;
  height:100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(255,255,255,.1) 0, rgba(22,27,31,1) 100%);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5%;
  padding-bottom: 15%;
}

.artist-photo-link {
  align-self: flex-end;
  font-size: 32px;
}

.artist-photo-name {
  font-size: 32px;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
